#bag{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background: url(./image/bag.jpg) center no-repeat;
    background-size: 100%;
}

#bag.burst{
    background-image: url(./image/car2.jpg);
}

#bag_health{
    width: 200px;
    border: 2px #000 solid;
    margin: 0 auto 20px auto;
}

#bag_health div{
    height: 20px;
    background: crimson;
}

#controller{
    width: 200px;
    margin: 0 auto;
}

#controller button{
    margin-left: 20px;
}