body {
    /* background: fixed; */
    background-image: url("./farrari.jpg"); 
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;

}

.title1{
    position: absolute;
    margin-top: 5%;
    height: 50px;
    margin-left: 7%;

    background-color: rgba(40, 238, 34, 0.4);
    
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: large;
    font-weight: 600;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    opacity: 0.8;
}
.back{
    position: absolute;
    height: 10%;
    width: 100%; 
    z-index: -1;
}

.grey{
    margin-top: 15%;
    /* margin-left: 50px;
    margin-right: 50px; */
    margin: middle;
    left: 10%;
    right: 10%;
    background: #e0e0e0;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    padding:5px;
    text-align: left;
    width: 80%;
    height: 300px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    opacity: 0.8;
}


.m{

    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}

.inside_pic{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 50px;
    top: 50px;
    z-index: 100;
}

.txt{
    position: unset;
    margin-left: 10%;
    width: 50%;
    color: chocolate;
    /* background-color: red; */
    z-index: 10;
}

.txt2{
    position: unset;
    margin-left: 10% ;
    width: 50%;
    /* background-color: blue; */
    z-index: 10;
    /* text-shadow: 1px -1px #e0e0e0; */
    columns: #000000;;
    text-shadow:  
    0px 1px 0px #c0c0c0,  
    0px 2px 0px #b0b0b0,  
    0px 3px 0px #a0a0a0,  
    0px 4px 0px #909090,  
    0px 5px 10px rgba(0, 0, 0, .9);  
}